@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@import url(https://db.onlinewebfonts.com/c/1333b13c4f911f3160f1c2822573f70c?family=Poor+Richard);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/********** header part **********/

.black-parent {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8750em;
    color: #ffffff;
    font-weight: 400;
    height: 6.5vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.hver-phone:hover {
    border-bottom: 4px solid lavenderblush;
    height: 5vh;
    cursor: pointer;
}

#contact-list {
    display: none;
}

.three-dots {
    display: none;
}

.phone-mail {
    display: flex;
    padding-top: 0.8%;
    /* border:2px solid white; */
    justify-content: space-around;
    width: 29%;
}


.parent-gifts {
    padding: 1%;
    height: 9.244vh;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    margin-left: 2%;
}

.gifts-card {
    font-family: 'Poor Richard', sans-serif;
    font-size: 2.875rem;
    color: #00aaa0;
    display: flex;
    word-spacing: 1%;
    /* border: 2px solid; */
}

.gift-color {
    color: #292929;
    margin-left: 7%;
}

.logo-img {
    position: absolute;
    margin-left: -0.2%;
}

.separate-gift {
    color: #292929;
    font-size: 1.688rem;
    /* padding: 1.5%;
    position: absolute; */
    /* margin-left: 4.5%; */
    margin-top: 12%;
}

p {
    margin: 0%;
}

.arts-color {
    margin-left: -2%;
}

.shop-search {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-top: 0.5%;
}

.search-bar {
    width: 29.47vw;
    height: 47px;
    border-radius: 24px;
    background-color: #f2f2f2;
    display: flex;
}

.fa-search {
    padding-top: 30%;
    padding-left: 34%;
    display: flex;
    color: #f2f2f2;
    font-weight: 100;
}

#search {
    font-size: 1rem;
    color: #919191;
    font-weight: 500;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    width: 29.47vw;
    height: 47px;
    border-radius: 24px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 4%;
}

.search-img {
    width: 41px;
    height: 41px;
    border-radius: 21px;
    background-color: #00aaa0;
    /* position: absolute; */
    margin-top: 0.7%;
    margin-left: -11.5%;
}

.shopping-cart {
    width: 8vw;
    height: 5.39vh;
    border-radius: 2px;
    background-color: #00aaa0;
    word-spacing: 5px;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    padding-left: 2%;
    padding-top: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}

.shopping-cart:hover{
    background-color: #7f4895;
    cursor: pointer;
}

/********** navbar part ***********/
.navbar-parent {
    display: flex;
    background-color: #00aaa0;
    margin-top: 2%;
    height: 9.244vh;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}


#nav-content {
    display: none;
}

.content-hov:hover {
    border-bottom: 5px solid white;
    height: 7vh;
    cursor: pointer;
}


#div-toggle {
    display: none;
}

.nav-content {
    display: flex;
    margin-top: 1%;
    justify-content: space-around;
    width: 40%;
    margin-left: 2%;
}

/********* sales upto 50% off **********/
.parent-sales {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.gift-pundit {
    background-color: #1e1515;
    width: 99.99%;
    height: 98vh;
}

.parent-special {
    display: flex;
}

.para-sales {
    font-size: 2.063rem;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
}

.para-off {
    font-size: 2.063rem;
    color: #00aaa0;
    font-weight: 500;
    font-style: italic;
}

.parent-special {
    font-size: 3.313rem;
    color: #ffffff;
    font-weight: 600;
}

.sale-upto {
    position: absolute;
    top: 20%;
    margin-left: 3%;
}

.para-2020 {
    color: #00aaa0;
    margin-left: 10%;
}

.lorem-para {
    font-size: 1.063rem;
    line-height: 4.160vh;
    color: #ffffff;
    font-weight: 400;
}

.shop-btn {
    width: 9.809vw;
    height: 6.471vh;
    border-radius: 19px;
    background-color: #00aaa0;
    border: none;
    font-size: 1.063rem;
    color: #ffffff;
    font-weight: 500;
    margin-top: 3%;

}

.shop-btn:hover {
    animation-name: book;
    animation-iteration-count: 1;
    animation-duration: 2s;
    cursor: pointer;
    background-color: black;
    color: #e8e8e8;
}

.white-shop:hover {
    animation-name: book;
    animation-iteration-count: 1;
    animation-duration: 2s;
    cursor: pointer;
    background-color: black;
    color: #e8e8e8;
}


@keyframes book {

    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    75% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

/******** gifts gallery part *********/

.gift-card {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-top: 5%;
}

.gift-car {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    /* margin-top: 5%; */
    margin-top: 1%;
}

.parent-gifts-card {
    /* color: #ffffff; */
    font-family: "Poppins", sans-serif;
    display: flex;
    /* width: 60%; */
    margin-left: 7%;
}

.parent-gift-card {
    /* color: #ffffff; */
    font-family: "Poppins", sans-serif;
    display: flex;
    margin-left: 1%;
    /* width: 60%; */
}

.pink-card {
    background-color: #dd3d49;
    height: 53.758vh;
    width: 24.807vw;
    transform: translateX(95px);
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0% 100%);
    padding-left: 4%;
    padding-top: 8%;
    font-size: 13px;
    /* line-height: 33px; */
    color: #ffffff;
    font-weight: 300;
}

.purple-card {
    background-color: #7f4895;
    height: 53.758vh;
    width: 24.807vw;
    transform: translateX(95px);
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0% 100%);
    padding-left: 4%;
    padding-top: 8%;
    font-size: 13px;
    /* line-height: 33px; */
    color: #ffffff;
    font-weight: 300;
}

.orange-card {
    background-color: #ed6728;
    height: 53.758vh;
    width: 24.807vw;
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0% 100%);
    padding-left: 4%;
    padding-top: 7%;
    font-size: 13px;
    /* line-height: 33px; */
    color: #ffffff;
    font-weight: 300;
}

.green-card {
    background-color: #489560;
    height: 53.758vh;
    width: 24.807vw;
    clip-path: polygon(0 0, 100% 0%, 81% 100%, 0% 100%);
    padding-left: 4%;
    padding-top: 7%;
    font-size: 13px;
    /* line-height: 33px; */
    color: #ffffff;
    font-weight: 300;
}

.trap {
    background-image: url(../images/Layer\ 45.png);
    width: 34.501vw;
    transform: translateX(-200px);
    z-index: -1;
    background-position-y: center;
    background-position: content;
    /* background-attachment: scroll; */
    background-size: cover;
}

.trape {
    background-image: url(../images/pexels-pixabay-51193.png);
    width: 24.583vw;
    /* transform: translateX(-103px); */
    z-index: -1;
    background-position-y: center;
    background-position: content;
    /* background-attachment: scroll; */
    background-size: cover;
}

.purple-img {
    background-image: url(../images/Layer\ 51.png);
    width: 24.583vw;
    /* transform: translateX(-103px); */
    z-index: -1;
    background-position-y: center;
    background-position: content;
    /* background-attachment: scroll; */
    background-size: cover;
}

.green-img {
    background-image: url(../images/Layer\ 50.png);
    width: 34.501vw;
    transform: translateX(-200px);
    z-index: -1;
    background-position-y: center;
    background-position: content;
    /* background-attachment: scroll; */
    background-size: cover;
}

.gift-gallery {
    font-size: 1.688rem;
    font-weight: 500;
}

.white-shop {
    width: 6.222vw;
    height: 3.852vh;
    border-radius: 13px;
    background-color: #ffffff;
    border: none;
    margin-top: 6%;
}


/************ best selling gifts ****************/
.parent-best-selling {

    height: 81.379vh;
    background-color: #f2f3f3;
    font-family: "Poppins", sans-serif;
    /* display: flex; */
    text-align: center;
    margin-top: 5%;
}

.layer-div:hover {
    box-shadow: 2px 2px 8px gray;
    transform: scale(1.3);
    transition-duration: 2s;
    z-index: 1;
    clip-path: inset(0% 10% 0% 10%);
}


.head-best {
    font-size: 2.5rem;
    line-height: 4.063rem;
    color: #121212;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-top: 3%;
}

.best-tilt {
    font-size: 4.4rem;
    color: #e8e8e8;
    font-weight: 800;
    transform: rotateZ(-91deg);
    position: absolute;
    right: -13%;
    top: 289%;
}

.fa-angle-left:before {
    font-size: 3rem;
    font-weight: 900;
}

.fa-angle-right:before {
    font-size: 3rem;
    font-weight: 900;
    color: #00aaa0;
}

.right-ang {
    position: absolute;
    top: 295%;
    right: 4%;
}

.angle {
    position: absolute;
    top: 295%;
    left: 5%;
    color: #00aaa0;
}

.lorem-do {
    margin-top: 2.5%;
}

.lorem-dol {
    font-size: 16px;
    line-height: 2rem;
    color: #121212;
    font-weight: 500;
    /* margin-top: 10%; */
}

.lorem-doll {
    font-size: 16px;
    line-height: 2rem;
    color: #121212;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    /* margin-top: 44%; */
}

.para-120 {
    font-size: 18px;
    line-height: 2rem;
    color: #00aaa0;
    font-weight: 500;
}

/************** best selling prints ****************/

.parent-best-prints {
    /* background-color: #f2f3f3; */
    text-align: center;
    margin-top: 5%;
}

.best-selling-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5%;
    margin-top: 4%;
}

.layer-cards {
    width: 74%;
}

.img-div {
    width: 100%;
}

.img-divs {
    width: 74%;
    margin-right: 24%;
}

.layer-card {
    width: 74%;
    margin-left: 6%;
}

.parent-sel:hover {
    box-shadow: 2px 2px 8px gray;
    transform: scale(1.3);
    transition-duration: 2s;
    z-index: 4;
    clip-path: inset(0% 10% 0% 10%);
}

.first-card:hover {
    box-shadow: 2px 2px 8px gray;
    transform: scale(1.3);
    transition-duration: 2s;
    z-index: 4;
    clip-path: inset(0% 10% 0% 10%);
}


.left-arr {
    position: absolute;
    top: 389%;
    left: 6%;
    color: #00aaa0;
}

.right-arr {
    position: absolute;
    top: 389%;
    right: 3%;
}

/*********** gifts under 999 part **************/
.parent-under-999 {
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 6%;
}

.gifts-under {
    display: flex;
    background-color: #dd3d49;
    color: #f2f2f2;
    width: 42%;
    margin-left: 6%;
    height: 20.5vh;
    justify-content: space-around;
    padding-top: 1%;
    box-shadow: 2px 2px 8px #dd3d49;
}

.gift-under {
    display: flex;
    background-color: #ed6728;
    color: #f2f2f2;
    width: 42%;
    margin-left: 3%;
    height: 20.5vh;
    justify-content: space-around;
    padding-top: 1%;
    box-shadow: 2px 2px 8px #ed6728;
}

.gift-box {
    width: 108px;
    height: 108px;
    border-radius: 54px;
    background-color: #ffffff;
    padding-top: 1%;
}

.gift-box:hover {
    border-radius: 50px;
    transform: scale(1.5);
    transition-duration: 2s;
}

.circle-25-div:hover {
    animation-name: book;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.fa-gift:before {
    /* padding-top: 3%; */
    padding-left: 27%;
    font-size: 5rem;
    color: #dd3d49;
}

.gift-span {
    font-size: 37px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 600;

}

.span-under {
    font-size: 27px;
    line-height: 18px;
    color: #ffffff;
    /* font-weight: 200; */
}

.padding-gift {
    padding-top: 8%;
    word-spacing: 0.2rem;
    width: 63%;
}

.small-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 26px;
    width: 24px;
    transform: translateX(118px);
    margin-top: 1%;
    position: absolute;
}

.smal-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 26px;
    width: 24px;
    transform: translateX(725px);
    margin-top: 1%;
    position: absolute;
}

.medium-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 42px;
    width: 42px;
    transform: translateX(431px);
    margin-top: 1%;
    position: absolute;
}

.mediu-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 42px;
    width: 42px;
    transform: translateX(1030px);
    margin-top: 1%;
    position: absolute;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    transform: translateX(-125%);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    transform: translateX(0%);
    opacity: 1;
}


.large-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 36px;
    width: 36px;
    transform: translateX(306px);
    margin-top: 6.5%;
    position: absolute;
}

.larg-bubble {
    border-radius: 54px;
    background-color: #f2f2f244;
    height: 36px;
    width: 36px;
    transform: translateX(927px);
    margin-top: 6.5%;
    position: absolute;
}

/************ digital printing part *************/
.parent-digital {
    margin-top: 5%;
    position: relative;
}

.digital-img {
    width: 100%;
    background-color: #00008b5c;
}

.layer-39-img {
    width: 27.5%;
    position: absolute;
    transform: translateY(-432px);
    /* transform: translateX(19px); */
    /* margin-right: 12%; */
    right: 15.9%;
    clip-path: inset(0% 15% 0% 15%);
    height: 53.2vh;
}

.circle-25-div {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #e7cba9;
    padding-top: 2%;
    translate: 1064px -538px;
}

.para-25 {
    font-size: 3rem;
    /* line-height: 91px; */
    color: #725834;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-left: 12%;
    height: 42%;
}

.para-of {
    font-size: 2rem;
    /* line-height: 91px; */
    color: #725834;
    /* font-weight: 600; */
    font-family: "Poppins", sans-serif;
    padding-left: 55%;
}

.digital-printing {
    position: absolute;
    translate: 161px -326px;
}

.dig-para {
    font-size: 35px;
    line-height: 64px;
    color: #725834;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.btn-brown {
    width: 98px;
    height: 30px;
    border-radius: 15px;
    background-color: #725834;
    border: none;
    font-size: 14px;
    /* line-height: 18px; */
    color: #f7f7f7;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 5%;
}

.btn-brown:hover {
    animation-name: book;
    animation-iteration-count: 1;
    animation-duration: 3s;
    cursor: pointer;
}

/************* canvas art painting part ***************/
.canvas-img {
    width: 100%;
}

.par-rel {
    position: relative;
}

.canvas-div {
    position: absolute;
    transform: translateY(-334px);
    right: 7%;
}

.canvas-para {
    font-size: 35px;
    line-height: 64px;
    color: #725834;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.btn-brow {
    width: 98px;
    height: 30px;
    border-radius: 15px;
    background-color: #725834;
    border: none;
    font-size: 14px;
    /* line-height: 18px; */
    color: #f7f7f7;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-left: 40%;
}

.btn-brow:hover {
    animation-name: book;
    animation-iteration-count: 1;
    animation-duration: 3s;
    cursor: pointer;
}

.circl-25-div {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #e7cba9;
    padding-top: 2%;
    translate: 393% -330%;
}

.circl-25-div:hover {
    animation-name: book;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

/************* why shop with us ******************/
.header-why {
    font-size: 40px;
    line-height: 65px;
    color: #121212;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 4%;
}

.parent-why-card {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.free-exchanges {
    width: 21vw;
    height: 32vh;
    background-color: #f5f4f4;
    text-align: center;
    box-shadow: 2px 2px 8px gray;
}

.fa-refresh {
    background-color: #f0efef;
    color: #00aaa0;
    width: 71px;
    height: 68px;
    border-radius: 34px;
    padding-top: 5%;
    margin-top: 4%;
}

.fa-refresh:before {
    font-size: 2rem;
}


#icon-env,
#logo-env {
    background-color: #f0efef;
    color: #00aaa0;
    width: 71px;
    height: 68px;
    border-radius: 34px;
    padding-top: 5%;
    margin-top: 4%;
    font-size: 2rem;
}

.para-free {
    font-size: 19px;
    /* line-height: 17px; */
    color: #353535;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin-top: 2%;
}

.para-if {
    font-size: 13px;
    /* line-height: 19px; */
    color: #353535;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

/************* newsletter part *****************/
.parent-newsletter {
    display: flex;
    background-color: #00aaa0;
    height: 13vh;
    justify-content: space-around;
    padding-top: 1.5%;
    margin-top: 5%;
    font-family: "Poppins";
}

#your-email {
    width: 23vw;
    height: 6vh;
    padding-left: 4%;
    border: none;
}

.child-newsletter {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.sub-btn {
    height: 6vh;
    width: 8vw;
    background-color: black;
    color: #e8e8e8;
    border: none;
    font-family: "Poppins", sans-serif;
}

.sub-btn:hover {
    background-color: white;
    color: black;
    font-weight: 900;
    cursor: pointer;
}

.news-para {
    color: #e8e8e8;
    font-size: 1rem;
    font-weight: 600;
}

.we-send {
    color: #e8e8e8;
    font-size: 0.8rem;
}

.fac-icon {
    width: 2vw;
    height: 4vh;
    background-color: #00aaa0;
    box-shadow: 0px 0px 2px #489560;
    padding-left: 8%;
    padding-top: 4%;
}

.gplus-icon {
    width: 2vw;
    height: 4vh;
    background-color: #00aaa0;
    box-shadow: 0px 0px 2px #489560;
    padding-left: 4%;
    padding-top: 4%;
}

.twit-icon {
    width: 2vw;
    height: 4vh;
    background-color: #00aaa0;
    box-shadow: 0px 0px 2px #489560;
    padding-left: 5%;
    padding-top: 4%;
}

.fa-wifi {
    width: 2vw;
    height: 4vh;
    background-color: #00aaa0;
    box-shadow: 0px 0px 2px #489560;
    padding-left: 4%;
    padding-top: 4%;
}

.icon-div {
    margin-top: 0.5%;
    color: #e8e8e8;
}

/*************** footer part ******************/
.parent-footer {
    font-family: "Poppins", sans-serif;
    background-color: #f5f4f4;
}

.contact-us i {
    margin-left: 2%;
}

.content-part {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.content-part p {
    font-size: 0.8rem;
    line-height: 8vh;
}

#bold-words,
#bold-word,
#bold-wrds,
#bld-words,
#bold-fol {
    font-size: 1.5rem;
    font-weight: 900;
}

.last-part {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.social-icon {
    word-spacing: 2vw;
}

.color-div {
    background-color: #00aaa0;
    width: 25%;
    color: white;
    padding-left: 1%;
    padding-top: 0.3%;
    line-height: 7vh;
    /* height: 25vh; */
    margin-left: 70%;
    /* font-family: "Poppins",sans-serif; */
    border-radius: 10px;
    transform: translateY(0px);
    transition-duration: 5s;
    /* animation-name: visible; */

}

.gif-card {
    font-family: 'Poor Richard', sans-serif;
    font-size: 2.875rem;
    color: #00aaa0;
    display: flex;
}

.hide-div {
    display: none;
}


.color-div:hover .hide-div {
    display: block;
}

.color-div:hover {
    animation-name: visible;
    animation-duration: 1.5s;
}

@keyframes visible {
    100% {
        transform: translateY(-100px);
    }
}



.fa-commenting-o:before {
    font-size: 2rem;
}

#chat-with-us {
    width: 75%;
    height: 5vh;
    padding-left: 2%;
    border: none;
    border-radius: 15px;
}

.chat-now {
    display: flex;
    justify-content: space-between;
    /* width: 25%; */
}

/************ media query *************/
@media(min-width: 200px)and (max-width: 992px) {
    .parent-gifts-card {
        width: 100%;
        margin-left: 9%;
        margin-top: 8%;
    }

    .layer-div:hover {
        box-shadow: 2px 2px 8px gray;
        transform: scale(1);
        transition-duration: 2s;
        z-index: 1;
        clip-path: inset(0% 10% 0% 10%);
    }

    .gift-box:hover {
        /* border-radius: 5opx; */
        transform: scale(1);
        transition-duration: 2s;
    }

    .layer-card {
        margin-left: 0%;
    }

    .img-divs {
        margin-right: 0%;
    }

    .pink-lorem {
        padding-bottom: 6%;
        width: 85%;
    }

    .gift-card {
        flex-wrap: wrap;
    }

    .gift-car {
        flex-wrap: wrap;
    }

    .pink-card {
        height: max-content;
        width: 46.807vw;
        transform: translateX(17px);
        font-size: 10px;
    }

    .trape {
        width: 44.583vw;
        transform: translateX(-46px);
        background-size: 279px 262px;
        background-repeat: no-repeat;
    }

    .orange-card {
        height: max-content;
        width: 46.807vw;
        transform: translateX(16px);
        font-size: 10px;
    }

    .trap {
        width: 44.583vw;
        transform: translateX(-44px);
        background-position: center;
        background-size: 279px 262px;
        background-repeat: no-repeat;
    }

    .parent-gift-card {
        width: 100%;
        margin-left: 9%;
        margin-top: 8%;
    }

    .purple-card {
        height: max-content;
        width: 46.807vw;
        transform: translateX(17px);
        font-size: 10px;
    }

    .purple-img {
        width: 44.583vw;
        transform: translateX(-46px);
        /* background-size: 265px 253px; */
        background-repeat: no-repeat;
    }

    .green-card {
        height: max-content;
        width: 46.807vw;
        transform: translateX(16px);
        font-size: 10px;
    }

    .green-img {
        width: 44.583vw;
        transform: translateX(-44px);
        background-position: center;
        background-size: 279px 262px;
        background-repeat: no-repeat;
    }

    .white-shop {
        width: 18.222vw;
        height: 2.852vh;
        margin-top: 4%;
    }

    /* .separate-gift {
        padding: 4.5%;
        margin-left: 16.5%;
    } */

    .nav-content {
        display: none;
    }

    .circle-25-div {
        display: none;
    }

    .phone-mail {
        display: none;
    }

    #search {
        width: 22.47vw;
    }

    .shop-search {
        margin-left: 23%;
        margin-top: 2%;
    }

    .shopping-cart {
        display: none;
    }

    .shop-btn {
        width: 27.809vw;
        height: 4.471vh;
    }

    .para-sales {
        font-size: 1.063rem;
    }

    .para-off {
        font-size: 1.063rem;
    }

    .parent-special {
        font-size: 1.313rem;
    }

    .para-2020 {
        margin-left: 15%;
    }

    .lorem-para {
        font-size: 0.8rem;
        word-break: break-all;
        line-height: 3.5vh;
    }

    .sale-upto {
        width: 69%;
    }

    .shop-btn {
        width: 27.809vw;
        height: 4.471vh;
    }

    .gift-pundit {
        height: 56vh;
    }

    .best-selling-card {
        flex-wrap: wrap;
        justify-content: center;
        /* margin-left: 10%; */
    }

    .best-tilt {
        display: none;
    }

    .parent-best-selling,
    .parent-best-prints {
        height: max-content;
    }

    .fa-angle-right:before {
        display: none;
    }

    .fa-angle-left:before {
        display: none;
    }

    .bike-card {
        width: 81.487vw;
        height: 35.973vh;
    }

    .saree-card {
        width: 79.4vw;
        height: 40.57vh;
        margin-top: 9%;
    }

    .church-card {
        width: 83.686vw;
        height: 42.57vh;
        margin-top: 14%;
    }

    .parent-sel {
        margin-left: 0%;
    }

    .layer-div {
        margin-left: 0%;
        margin-top: 4%;
    }

    .first-card,
    .parent-sel {
        margin-top: 4.5%;
    }

    .layer-39-img {
        transform: translateY(-136px);
        height: 12.2vh;
    }

    .canvas-div {
        transform: translateY(-108px);
        right: 2%;
    }

    .canvas-para {
        font-size: 14px;
        line-height: 19px;
    }

    .btn-brow {
        width: 55px;
        height: 21px;
        margin-left: 27%;
        font-size: 10px;
    }

    .digital-printing {
        translate: 38px -106px;
    }

    .dig-para {
        font-size: 14px;
        line-height: 20px;
    }

    .btn-brown {
        width: 59px;
        height: 20px;
        font-size: 10px;
        margin-left: 21%;
    }

    .smal-bubble,
    .small-bubble,
    .large-bubble,
    .larg-bubble,
    .mediu-bubble,
    .medium-bubble {
        display: none;
    }

    .gifts-under,
    .gift-under {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10%;
        height: 12.5vh;
        margin-left: 0%;
    }

    .gift-box {
        width: 21vw;
        height: 77px;
        margin-top: 2.5%;
    }

    .fa-gift:before {
        /* padding-top: 3%; */
        padding-left: 26%;
        font-size: 4rem;
    }

    .parent-under-999 {
        flex-wrap: wrap;
    }

    .circl-25-div {
        display: none;
    }

    .parent-why-card {
        flex-wrap: wrap;
    }

    .free-exchanges {
        width: 82%;
        margin-top: 3%;
        height: 27vh;
    }

    .content-part {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    .info,
    .my-account,
    .gallery {
        margin-top: 5%;
    }

    .last-part {
        justify-content: space-evenly;
        margin-top: 3%;
    }

    .parent-newsletter {
        height: 9vh;
    }

    .child-newsletter {
        width: 92%;
    }

    .news-para {
        font-size: 0.7rem;
    }

    .we-send {
        font-size: 0.6rem;
    }

    #your-email {
        width: 33vw;
        height: 3vh;
        margin-left: 6%;
    }

    .sub-btn {
        height: 3vh;
        width: 19vw;
        margin-left: 25%;
        margin-top: 6%;
    }

    .icon-div {
        display: none;
    }

    .gallery {
        text-align: center;
    }

    .three-dots {
        margin-right: 5%;
        padding-top: 2%;
    }

    .fa-ellipsis-h:before {
        font-size: 2rem;
    }

    .black-parent {
        display: flex;
        justify-content: right;
    }

    .three-dots {
        display: block;
    }

    .gif-card {
        display: none;
    }

    #contact-list {
        width: 44vw;
        position: absolute;
        top: 4%;
        right: 9%;
        line-height: 2rem;
        color: white;
        background-color: #00aaa0;
        padding-left: 1.5%;
        padding-top: 1.5%;
    }

    ul {
        list-style-type: none;
    }

    hr {
        background-color: #ed6728;
    }

    .fa-close:before {
        font-size: 1rem;
        margin-left: 10%
    }

    .fa-close {
        float: right;
        margin-right: 5%;
    }

    .toggle-img {
        width: 8vw;
        height: 4vh;
        border-radius: 50%;
    }

    #div-toggle {
        display: block;
        margin-left: 5%;
        margin-top: 4.5%;
    }

    #nav-content {
        z-index: 2;
        width: 100%;
        line-height: 6vh;
        background-color: #00aaa0;
        height: max-content;
        position: absolute;
        padding-left: 4%;
    }

    .color-div {
        width: 90%;
        margin-left: 10%;
    }

    .credit-cards {
        display: none;
    }
}

@media(min-width:376px) and (max-width: 395px) {
    .layer-39-img {
        transform: translateY(-130px);
    }

    .layer-div {
        margin-top: 4%;
    }

}

@media(min-width:350px) and (max-width: 375px) {

    .gifts-under {
        margin-top: 13%;
    }

    .gift-box {
        height: 74px;
        margin-top: 0.5%;
    }

    .layer-div {
        margin-top: 4%;
    }

    .layer-39-img {
        transform: translateY(-123px);
        height: 14.5vh;
    }

    .canvas-div {
        transform: translateY(-104px);
    }

    .sub-btn {
        margin-top: 2%;
    }

    .news-para {
        font-size: 0.6rem;
    }

    /* .separate-gift{
        margin-left: 17%;
    } */
}

@media(min-width:390px) and (max-width: 460px) {

    .layer-div {
        margin-top: 4%;
    }

    /* .separate-gift{
        margin-left: 15.5%;
    } */
}

@media(min-width:360px) and (max-width: 365px) {
    .layer-39-img {
        transform: translateY(-119px);
        height: 12.5vh;
    }

    .digital-printing {
        translate: 38px -101px;
    }
}

@media(min-width:462px) and (max-width: 600px) {
    /* .separate-gift {
        padding: 3.5%;
        margin-left: 11.5%;
    } */


    .search-img {
        margin-left: -5.5%;
    }

    #div-toggle {
        margin-top: 2.5%;
    }

    .toggle-img {
        height: 5vh;
    }

    .gift-box {
        width: 16vw;
        margin-top: 0.5%;
    }

    .layer-39-img {
        transform: translateY(-175px);
        height: 19.2vh;
    }

    .digital-printing {
        translate: 38px -135px;
    }

    .canvas-div {
        transform: translateY(-135px);
        right: 2%;
    }

    .sub-btn {
        height: 3.3vh;
        width: 16vw;
        margin-top: 2%;
    }
}

@media(min-width:766px) and (max-width: 850px) {
    .btn-brown {
        width: 97px;
        height: 33px;
        font-size: 15px;
    }

    .digital-printing {
        translate: 77px -203px;
    }

    .dig-para {
        font-size: 24px;
        line-height: 34px;
    }

    .layer-39-img {
        transform: translateY(-265px);
        height: 18.2vh;
    }

    .canvas-div {
        transform: translateY(-207px);
        right: 4%;
    }

    .canvas-para {
        font-size: 22px;
        line-height: 32px;
    }

    .btn-brow {
        width: 103px;
        height: 31px;
        font-size: 16px;
    }



    .gift-box {
        width: 13vw;
        height: 100px;
    }

    .fa-gift:before {
        font-size: 5rem;
    }

    .para-free {
        font-size: 26px;
    }

    .para-if {
        font-size: 18px;
    }

    .free-exchanges {
        width: 62%;
        height: 22vh;
    }

    .we-send {
        font-size: 0.8rem;
    }

    .news-para {
        font-size: 1.1rem;
    }

    .sub-btn {
        width: 14vw;
        margin-left: 27%;
        margin-top: 2%;
    }

    .search-img {
        margin-left: 6.5%;
    }

    /* .separate-gift {
        padding: 2.5%;
        margin-left: 7.5%;
    } */

    .trape {
        transform: translateX(-59px);
    }

    .trap,
    .green-img {
        transform: translateX(-102px)
    }

    .purple-img {
        transform: translateX(-148px);
    }
}

@media(min-width:766px) and (max-width: 800px) {
    .layer-39-img {
        transform: translateY(-250px);
        height: 20vh;
    }

    #div-toggle {
        margin-top: 2.5%;
    }

    .toggle-img {
        height: 5vh;
    }
}

@media(min-width:910px) and (max-width: 912px) {
    .search-img {
        margin-left: 6.5%;
    }

    /* .separate-gift {
        padding: 2.5%;
        margin-left: 6.5%;
    } */

    .trape {
        transform: translateX(-71px);
    }

    .trap {
        transform: translateX(-134px);
    }

    .purple-img {
        transform: translateX(-194px);
    }

    .green-img {
        transform: translateX(-133px);
    }

    .fa-gift:before {
        font-size: 5rem;
    }

    .gift-box {
        width: 12vw;
        height: 110px;
    }

    .dig-para {
        font-size: 27px;
        line-height: 34px;
    }

    .digital-printing {
        translate: 83px -225px;
    }

    .btn-brown {
        width: 96px;
        height: 34px;
        font-size: 17px;
    }

    .layer-39-img {
        transform: translateY(-293px);
        height: 17.2vh;
    }

    .btn-brow {
        width: 63px;
        height: 28px;
        font-size: 12px;
    }

    .canvas-para {
        font-size: 20px;
        line-height: 22px;
    }

    .canvas-div {
        transform: translateY(-217px);
        right: 9%;
    }

    .fa-refresh {
        padding-top: 2.8%;
    }

    .free-exchanges {
        width: 51%;
        height: 17vh;
    }

    .sub-btn {
        margin-top: 3%;
    }

}